# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VS stuff
*.opensdf
*.sdf
*.exp
*.idb
*.lib
*.pdb
*.suo

# Folders
PwnAdventureSku/Release
PwnAdventureSku/Debug
Debug
